#calculator {
    border: 1px solid rgb(183, 183, 183);
    width: 220px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    transition: box-shadow 0.3s ease;
  }
  
  #calculator:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
    user-select: none;
  }
  
  .button:hover {
    background-color: #ffc0cb;
    color: white; /* Text color when hovering */
    transform: scale(1.1);
  }
  
  #display {
    width: 85%;
    margin: 10px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    color: #D0A2F7;
  }
  
  #display:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  @media screen and (max-width: 768px) {
    #calculator {
      width: 239px;
    }
  }

